# ignore pycache everywhere
**/__pycache__

# ignore the ModelFiles
/ModelFiles/Models/*
/ModelFiles/TrainingData/*
/ModelFiles/EditedTrainingData/*
/ModelFiles/*.pt

# ignore the tensorboard logs
/Training/Regression/logs
/Training/ObjectDetection/logs
/Training/Classification/logs