# ignore pycache everywhere
**/__pycache__

# ignore the ModelFiles
/ModelFiles/Models/*
/ModelFiles/TrainingData/*
/ModelFiles/EditedTrainingData/*
/ModelFiles/*.pt

# ignore the tensorboard logs
/AI/Regression/logs
/AI/ObjectDetection/logs
/AI/Classification/logs